In [10]:
import mysql.connector as cxn
import json
import pandas as pd

In [11]:
connection = cxn.connect(user='root', password='Hackathon2021'
                            , host='127.0.0.1'
                            , database='sample')
print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f9c2f87d0d0>

In [12]:
cursor = connection.cursor()
drop_table = ("""drop table if exists samplejson3;""")
cursor.execute(drop_table)

In [13]:
connection.commit()

In [14]:
create_table = (
    """create table samplejson3(
         jobtitle VARCHAR(225) default NULL
        , company VARCHAR(225) default NULL
        , city VARCHAR(225) default NULL
        , state VARCHAR(225) default NULL
        , country VARCHAR(225) default NULL
        , formattedLocation VARCHAR(225) default NULL
        , source VARCHAR(225) default NULL
        , date varchar(255) default NULL
        , snippet VARCHAR(2000) default NULL
        , url VARCHAR(225) default NULL
        , onmousedown VARCHAR(225) default NULL
        , jobkey INT default NULL
    )"""
)
cursor.execute(create_table)

In [15]:
connection.commit()

In [16]:
with open ("sample_json_data.json") as json_file:
    data = json.load(json_file)
    temp = data["results"]
    for i in temp:
        jobtitle=i.get("jobtitle")
        company=i.get("company")
        city=i.get("city")
        state=i.get("state")
        country=i.get("country")
        formattedLocation=i.get("formattedLocation")
        source=i.get("source")
        date=i.get("date")
        snippet=i.get("snippet")
        url=i.get("url")
        onmousedown=i.get("onmousedown")
        jobkey=i.get("jobkey")
        # sponsored=i.get("sponsored")
        # expired=i.get("expired")
        # indeedApply=i.get("indeedApply")
        sql=("""
            insert into samplejson3(
                jobtitle
                , company
                , city
                , state
                , country
                , formattedLocation
                , source
                , date
                , snippet
                , url
                , onmousedown
                , jobkey
            ) value (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
        """)
        val=(jobtitle
            , company
            , city
            , state
            , country
            , formattedLocation
            , source
            , date
            , snippet
            , url
            , onmousedown
            , jobkey)
        cursor.execute(sql, val)

In [17]:
connection.commit()
cursor.close()
connection.close()